body {
  font-family: 'Segoe UI', sans-serif;
  background: #89023E;
  margin: 0;
  padding: 20px;
  text-align: center;
  color: #222;
}

h1 {
  font-size: 2.8rem;
  margin-bottom: 30px;
  color: whitesmoke;
  font-family: "Tagesschrift", system-ui;
}

.battlefield {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
  gap: 20px;
}

.player {
  flex: 1;
  padding: 20px;
  border-radius: 15px;
  background-color: white;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
}

.player h2 {
  font-size: 1.5rem;
}

.player img {
  width: 150px;
  height: auto;
  margin-top: 10px;
}

.result-box {
  display: inline-table;
  background-color: #ffffffcc;
  padding: 20px;
  border-radius: 15px;
  box-shadow: 0 0 10px #999;
  min-width: 300px;
}

#message {
  font-size: 1.4rem;
  margin-bottom: 10px;
  font-weight: bold;
}

#score {
  margin-top: 10px;
  font-size: 1.2rem;
}

#reset {
  margin-top: 15px;
  padding: 10px 20px;
  background: radial-gradient(circle, #0d8ac8cc, #4897e6);
  color: white;
  border: none;
  border-radius: 10px;
  font-size: 1rem;
  cursor: pointer;
  transition: 0.3s;
}

#reset:hover {
  background-color: #1e40af;
}

.choices {
  margin-top: 40px;
  display: flex;
  justify-content: center;
  gap: 30px;
}

.choice {
  width: 150px;
  cursor: pointer;
  transition: transform 0.2s ease;
}

.choice:hover {
  transform: scale(1.1);
}
